@import 'https://fonts.googleapis.com/css?family=Roboto';

.home {
	background: #333333;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
}

input, button {
	background-color: #2d2d2d;
	color: #ffffff;
	border: none;
}

button {
	padding: 10px 20px;
	cursor: pointer;
}

input::placeholder {
	color: #b3b3b3;
}
